
body {
  background: #f6f6f6;
    background-image: linear-gradient( 135deg, #e6e0d6b7 10%, #ece3d1bd 100%);
    background-attachment: fixed;	
    background-size: cover;
    margin: 0;
    padding: 0;
    }

